.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
  --bs-bg-opacity: 1;
  background-color: $theme-border;
  color: white;

}

.footer-pad{
  padding: 15px;
  letter-spacing: .2rem;
}