$theme-border: #1A456F;

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: linear-gradient(-45deg, #226182, #FF7701, #00C154, #D6547A);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
a{
  text-decoration: none;
  letter-spacing: .1rem;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&family=Berkshire+Swash&display=swap');
@import './header.scss';
@import './footer.scss';
@import './register.scss';
@import './forms.scss';
@import './home.scss';
@import './navbar.scss';
@import './search.scss';





